#passwordlim{
    color: blue;
    float: left;
}

.passwordnewconfirm,.passwordnew{
  padding-top: 13px;
}

#forgot-form {
    display: none;
}
select {
    width: 50%;
    padding: 4px 4px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
}

option{
    padding: 16px 20px;
    border: none;
    border-radius: 0px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 30%;
    border: none;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4285f4;
    border-radius: 2px;
}

input[type=text], input[type=password], input[type=email] {
    width: 30%;
    border: 2px solid #4285f4 ;
    padding: 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 2px;
}
.password-form>input {
    padding-right: 3rem;
}

button{
    text-align: center;
    width: 30%;
    border: none;
    color: white;
    padding: 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4285f4;
    border-radius: 2px;
}
.clear-history-button{
    background-color: #302e66;
    margin-top: 30px;
}

.red{
    background-color: #d9534f;
}

.password-form {
  position: relative;
}

.form-group {
  top: 19px;
  margin-left: -35px;
}

hr{
    width:100%;
}
.hr-heading{
    margin-bottom: 5px;
}
.hide{
    display: none;
}
#toggle{
    color: #4285f4;
    font-size: 23px;
}

button:disabled,
button[disabled]{
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666 	
}
