body{
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
*{
  box-sizing: border-box;
}
.container{
  width: 300px;
  height: 400px;
}

.top-bar{
  background-color: #4285f4;
  height: 12%;
}

.logo{
  display: relative;
  margin-left: 35%;
  margin-top: 5%;
  width: 30%;
}

/*Message section*/
.messages-history{
  background-color: #f5f4f6;
  height: 75%;
  overflow-y: scroll;
}
.message-container-my{
  text-align: right;
}

.message-container-susi{
  text-align: left;
}


.message-box{
  position: relative;
  text-align: left;
  min-width: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  background-color: #e0e0e0;
  max-width: 90%;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  line-height: 22px;
  padding: 6px 10px;
  margin: 4px;
  border-radius: 8px;
  margin-left: auto;
  margin-right: 12px;
  border: 1.1px solid #e0e0e0;
  border-radius: 14px;
}

.message-box-susi{
  position: relative;
  text-align: left;
  min-width: 60px;
  display: inline-block;
  overflow-wrap: break-word;
  background-color: #ffffff;
  max-width: 90%;
  font-size: 16px;
  font-weight: 300;
  vertical-align: middle;
  line-height: 22px;
  padding: 6px 10px;
  margin: 4px;
  border-radius: 8px;
  margin-right: : auto;
  margin-left: 12px;
  border: 1.1px solid #ffffff;
  border-radius: 14px;
}


.message-box:after{
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 100%;
  top: 40px;
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border: 8px solid;
  border-color: transparent transparent #e0e0e0 #e0e0e0;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.message-box-susi:before{
  content: "";
  position: absolute;
  box-sizing: border-box;
  left: 0%;
  top: 40px;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  border: 8px solid;
  background-color: #ffffff;
  border-color: transparent transparent #ffffff #ffffff;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}


.message-time{
  font-size: 10px;
  color: #90a4ae;
}

/*Input section*/
.input-area{
  background-color: #f5f4f6;
  box-shadow: 0 -1px 4px 0 rgba(0,0,0,.12);
  height: 13%;
}

.input-area .input-message{
  background-color: #ffffff;
  border:none;
  width: 80%;
  display: inline-block;
  border-radius: 8px;
  padding:10px;
  margin-top: 8px;
  margin-left:8px;
  outline: none;
}
.input-area .input-button{
  background-color: inherit;
  padding: 5px;
  display: inline-block;
  border: none;
  cursor: pointer;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 6px;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.input-area .input-button .material-icons{
  vertical-align: middle;
  color: #4285f4;
}
.input-area .input-button:hover{
  box-shadow: 0 3px 13px rgba(0,0,0,.3);
}
