select {
    width: 50%;
    padding: 4px 4px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
    font-size: 16px;
}

option{
    padding: 16px 20px;
    border: none;
    border-radius: 0px;
    background-color: #f1f1f1;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 30%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4285f4;
}

button{
    text-align: center;
    width: 30%;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    background-color: #4285f4;
}